$font-stack:'Titillium Web', sans-serif;
$tap-orange: #B45818;
$light-gray: #C8CCD8;
$grayish:    #81848E;
$medium-gray:#5A5C62;
$dark-gray:  #27282B;
$charcoal:  #222326;
$gray-next: #353639;
$primary: #000000;

html{
  background:#000000;
}


body{
  background:#000000;
  height:100%;
  font-family: $font-stack;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  padding: 2em;
}

.wrapper > * {
//  padding: 10px;
//  flex: 1 100%;
  background-color: #000000;
}

.wrapper{
  padding: 0;
}

.header {
  background-color: $tap-orange; position: relative;
  color: $dark-gray;
  border-radius:3px;
	a{
		position: absolute; right: 10px; color: $dark-gray; outline: none;
		i:after{ content: "\f028"; }
		&.mute i:after{ content: "\f026"; }
	}
}

.footer {
  display:none;

}

.now_playing_deets{
  padding: 0 20px;
}

.now-playing {
  text-align: center;
  background: $charcoal;

//  width: 500px;
//  height:800px;

  //padding:0 0 40px 0;

  img{
    width: 100%;
  }

  .current-song-user{
    margin-top: 1em;
    //float:left;
    text-align: left;
    img{
      width:55px;
      border-radius:3px;
    }
    //padding:10px 8px 0 0;
  }

  h5{
    color:$grayish;
    font-size:12px;
    //padding: 0 0 0 15px;
    margin:15px 0 20px 0;
    text-align: left;
  }
}

.progress {
  position: relative;

  background-color: $charcoal;
  background-image: none;
  height: 9px;
  border-radius: 0;

  .time {
    line-height: 20px;
    font-size: 12px;
    height: auto;
    margin: 0 auto;
    display: block;
    z-index: 1000;
    position: absolute;
    left: 50%;

    color: #fff;

    -ms-transform: translateX(-50%); /* IE 9 */
    -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
    transform: translateX(-50%);
    display: none;
  }

  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    background-image: none;
    background-color: $tap-orange;
  }

}

.now-playing-title{
  color:$light-gray;
  font-size:50px;
  font-family: $font-stack;
  font-weight: 300;
  text-align: left;
  //padding: 0 25px 0 25px;
}

.now-playing-artist{
  color:$light-gray;
  font-size:20px;
  font-family: $font-stack;
  font-weight: 600;
  text-align: left;
  //padding: 0 0 0 25px;
  span{
    color:$grayish;
    font-size:14px;
    font-family: $font-stack;
    font-weight: 300;
  }
}

.side_queue {
  background: $dark-gray;
  width:180px;
  text-align: left;
  //height:800px;

  h5{
    color:$grayish;
    font-size:12px;
  }
}


.the-queue{
  max-height: 70vh;
  //min-height: ;
  overflow: auto;
}

.playing-next{
  padding: 10px 0 10px 25px;
  margin:0;
  background-color:$gray-next;
  clear:both;

h1{
  font-family: $font-stack;
  font-weight: 300;
  font-size: 26px;
  color:$grayish;
  margin:0;
  padding:0;
}
  h5{
    font-weight: 500;
    font-size: 18px;
    color:$grayish;
    margin:0;
    padding:0;
  }
  img{
    float:left;
    width:40px;
    padding:0 8px 15px 0;
  }
}

.next{
  transform: rotate(270deg);
  transform-origin: left top 0;
  background-color:$tap-orange;
  position:relative;
  margin: 49px 0 0 -5px;
  padding:10px 7px;
  height:100%;
  font-family: $font-stack;
  font-weight: 300;
  font-size:15px;
  float:left;
}

.queued, .results{
  margin:0px 0;
  overflow-y: auto;
  h1{
    font-family: $font-stack;
    font-weight:300;
    font-size: 26px;
    color:$medium-gray;
    margin:0;
    padding:0 20px 0 0;
  }
  h5{
    font-family: $font-stack;
    font-weight:600;
    font-size: 14px;
    color:$medium-gray !important;
    margin:0;
    padding:0;
  }
  ul{
    list-style:none;
    margin:0;
    padding:0;
  }
  li{
    margin:15px 0; padding: 0 20px;
    list-style:none;
  }

}

.queued{
  img{
    float:left;
    width:40px;
    padding:0 8px 15px 0;

  }
}

.results{
    h1{ display: inline-block; width: 90%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    .songIWant, .songIWantToPreview{ display: inline-block; margin-right: .5em; vertical-align: middle; position: relative; top: 25px; }
//    h5{ position: relative; left: 28px; }

    li{
      clear:both;
      a{
        float:left;
      }
      div{
        float:left;
        width:320px;
        padding-bottom:45px;
      }
    }
    img{
      float:left;
      padding:0 15px 55px 0;

  }
}

.whos-online{
  //border-top: 1px solid #000;
  //border-bottom: 1px solid #000;
  margin: 25px 0 0 0;
  padding: 0 20px;
  //height:200px;
  //overflow: scroll;
  ul{
    display:table-row;
  }
  li{
    display: table-cell;
    padding:10px;
    &:first-child{ padding-left: 0; }
  }
  img{
    width:55px;
    border-radius:3px;
  }
}

.side_search {
  background: $dark-gray;
  width:300px;
  //height:800px;
  //overflow: scroll;
  overflow-y: auto;
  text-align: left;
  h5{
    color:$tap-orange;
    font-size: 12px;
    padding:0;
    margin:0;
  }
  img{
    max-width: 80px;
    padding: 5px;
  }
  input[type="text"]{
    margin:0;
    padding:10px;
    background-color:#37383D;
    border:none;
    font-family: $font-stack;
    font-weight:600;
    font-size: 14px;
    width:80%;
  }
  input[type="submit"]{
    margin:0;
    padding:10px;
    background-color:$tap-orange;
    border:none;
    font-family: FontAwesome;
  }
}

.add-to-queue{
  margin:0 0 25px 0;
}

.album-results{
  display:none;
}

.artist-results{
  display:none;
  ul{
    list-style: none;
    padding:0;
    margin:0;
    color:$light-gray;
  }
  li{
    list-style: none;
    padding:0;
    margin:0;
  }
}

.user-name{
  color:$light-gray;
  font-family: $font-stack;
  font-weight: 300;
  font-size: 10px;
  margin:0 auto;
  text-align: center;

}

.song-results{


}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
//  .now-playing    { flex: 3 0px; }
//  .aside-1 { order: 1; }
//  .now-playing    { order: 2; }
//  .aside-2 { order: 3; }
//  .footer  { order: 4; }
}

.spotify_search
{
    margin-top: .5em;
    input{ color: #fff; outline: 0 !important; }
}


@mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%)) {
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-corner {
    background: none;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $primary;
    scrollbar-track-color: $secondary;
  }
}

/**
 * Call the damn thing
 */
//@include scrollbar(.5em, $grayish);




//Let's fix this flexbox shizzle.
body{ display: flex; height: 100vh; flex-direction: column; }

.flex_wrap{ display: flex; flex: 1; height: 100vh; padding-top: 0; padding-bottom: 0; }

.now-playing{ flex: 1; overflow: hidden; }

.side_queue, .side_search{ flex: 0 0 32.5%; }

.side_queue{  order: -1; }

.side_search{ padding: 20px; }

#tap_stream{ display: none; }
.mobile_tabs{ display: none; }


@include media($smaller_than_tablet)
{
  //body, .flex_wrap{ height: auto; overflow: hidden; }
  .mobile_tabs{ display: block; }
  body, .flex_wrap, .wrapper{ height: auto !important; display: block; width: 100%; overflow: hidden; }
  #tap_stream{ display: block; height: 40px !important; width: 100% !important; }
  #tap_stream.is_hidden{ display: none; width: 0; height: 0; visibility: hidden; }
  .now-playing{ overflow: scroll; width: 100%; }
  .side_queue, .side_search { flex: 0 0 100%; width: 100% !important; height: auto !important; }
  .side_queue, .side_search{ display: none; }
  .side_queue{
    h5:first-of-type{ margin: 0; padding: 20px; }
  }

  .mobile_tabs{
    background: $dark-gray;
    ul{ padding: 0; margin: 0; @include cf(); }
    li{
      @include column(1/3); font-size: 1.5em; text-align: center;
      padding: .25em 0;
      a{ color: #81848E; &.is_active{ color: #fff; } }
    }
  }

  .the-queue{
    max-height: 53vh; overflow: hidden;
  }
}