* html { font-size: 112.5%; }
html {
    font-size: 18px; line-height: 1.33333em; height: 100%;

}

html, body{
    font-family: Arial, Verdana, Geneva, sans-serif;
    overflow: hidden;
}

a, a:visited{  }
a:hover{  }