@mixin trans{
	 @include transition ( all .25s linear );
}

@mixin fa{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}